// COLORS
$color-primary: #191970;
$color-secondary:linear-gradient(45deg, #CD7F32, #ffd799);
$color-tertiary:#CD7F32;
$color-quaternary:#ffd799;
$color-button:#191970;
$color-text:#221f20;
$color-grey:#D8D8D8;
$color-white: #FDF6EC;
$color-black: #000;

$fontPrimary:"Poppins", sans-serif;
$fontSecondary:"Playfair Display", serif;
// $fontTertiary:"Chintya";
$fontFour:"Nexa";

$mainBg:url(../images/main-bg-01.jpg);
