// COLORS
$color-primary: #41c5dc;
$color-secondary:#5ebc64;
$color-tertiary:#c5e8fb;
$color-button:#28aae4;
$color-text:#221f20;
$color-white: #fff;
$color-black: #000;

$fontPrimary:"Poppins", sans-serif;
$fontSecondary:"Playfair Display", serif;
$fontTertiary:"Chintya";

$mainBg:url(../../images/main-bg-01.jpg);
