<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ConnectionInterest" value="Server=36.255.3.170,15666;User ID=Test; Password=Global@123;database=Interestdb;" />
    <add key="MERCHANT_KEY" value="xS52Bg" />
    <add key="SALT" value="RDUxTI5e" />
    <!-- Merchant Key and Salt you will find the merchant Panel -->
    <add key="PAYU_BASE_URL" value="https://secure.payu.in/_payment" />
    <add key="action" value="" />
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10" />
    <add key="FolderPath" value="Files/" />
  </appSettings>
  <connectionStrings>
    <add name="CISCon" connectionString="Server=36.255.3.170,15666;User ID=Test; Password=Global@123;database=CISEducation;" providerName="System.Data.SqlClient" />
    <add name="MockCon" connectionString="Server=36.255.3.170,15666;User ID=Test; Password=Global@123;database=ReadinessSurveyDB;Connect Timeout=1800; " providerName="System.Data.SqlClient" />
    <add name="CMSCon" connectionString="Server=36.255.3.170,15666;User ID=Test; Password=Global@123;database=Cms;" providerName="System.Data.SqlClient" />
    <add name="CMSMockCon" connectionString="Server=36.255.3.170,15666;User ID=test; Password=Global@123;database=Cms;Connect Timeout=1800; " providerName="System.Data.SqlClient" />
  </connectionStrings>
 
  
  
  <system.web>
    <customErrors mode="Off" />
 <urlMappings enabled="true">

      <add url="~/camp2021" mappedUrl="camp2021.aspx" />
      <add url="~/Coding2021" mappedUrl="Coding2021.aspx" />
      <add url="~/sas2021" mappedUrl="sas2021.aspx" />
      <add url="~/Register" mappedUrl="admit.aspx" />
      <add url="~/events" mappedUrl="Events.aspx" />
      <add url="~/event" mappedUrl="Event.aspx" />
      <add url="~/admissions2024" mappedUrl="admit.aspx" />
     <add url="~/admit" mappedUrl="admit.aspx" />
      <add url="~/alfa" mappedUrl="alfa.aspx" />
      <add url="~/summercamp" mappedUrl="summercamp.aspx" />
  <add url="~/Webinar" mappedUrl="webinar.aspx" />
  <add url="~/careers" mappedUrl="careers1.aspx" />
 
    </urlMappings>   
    
    
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />

        <!--<add assembly="GemBox.Spreadsheet, Version=35.1.40.1060, Culture=neutral, PublicKeyToken=B1B72C69714D4847"/>-->
      </assemblies>
    </compilation>

    <!--<pages theme="Theme" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>-->

  </system.web>
  
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
    
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
        <defaultDocument>
            <files>
                <add value="Index.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>