.google-visitor{
    text-align: center;
    border-radius: 0 3px 0 0;
    line-height: 1;
    padding: 0;
    z-index: 10;
    border-radius: 1.6rem;
    overflow: hidden;
    display: block;
    img{
        width: 10rem;
        border-radius: .5rem;
    }
}