.faqs-area{
    .accordion-item{
        &:not(:last-child){
            margin-bottom: 2rem;
        }
        .educational-grid{
            row-gap: 2rem;
            @include respond (minWidth1200){
                grid-template-columns: repeat(6, 1fr);
            }
            .img-wrapper{
                width: 100%;
            }
            .heading-tertiary{
                font-weight: 500;
            }
        }
        .accordion-header{
            .accordion-button.collapsed{
                border: none;
                background: $color-primary;
                color: $color-white;
                padding: 2rem;
                font-size: initial;
                font-family: $fontPrimary;
                font-weight: 500;
                &:focus{
                    box-shadow: none;
                    outline: none;
                }
                &::after{
                    filter: brightness(100);
                }
            }
            .accordion-button{
                background: $color-tertiary;
                outline: none;
                border:none;
                color: $color-white;
                padding: 2rem;
                font-size: initial;
                font-family: $fontPrimary;
                font-weight: 500;
                &:focus{
                    box-shadow: none;
                    outline: none;
                }
                &::after{
                    filter: brightness(100);
                }
            }
        }
    }
}
.creative-thinker{
    display: grid;
    grid-template-columns: 50% 50%;
    @include respond (maxWidth768){
        grid-template-columns: auto;
    }
}
@include respond (maxWidth768){
    .food{
                    margin-bottom: 2rem;
                }
}