.fee-structure {
    .table-wrapper {
        overflow: auto;
        border-radius: 1.6rem;

        table {
            overflow: hidden;
        }

        thead {
            background: $color-primary;
            color: $color-white;
        }

        th,
        td {
            padding: 10px;

            &:first-child {
                width: 30%;
            }

            &:nth-child(2) {
                width: calc(70% - 160px);
                // border-left: 1px solid #ccc;
                // border-right: 1px solid #ccc;
            }

            &:nth-child(3) {
                width: 160px;
            }
        }
    }

    .table-duration {
        overflow: auto;
        border-radius: 1.6rem;
        margin: 3rem 0;

        table {
            overflow: hidden;
        }

        thead {
            background: $color-primary;
            color: $color-white;
        }

        th,
        td {
            padding: 10px;
        }
    }

    .content-wrapper {
        .heading-tertiary {
            color: $color-text;
            margin-bottom: 2rem;
        }

        .border-one {
            height: 1px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3rem;
            background: rgba($color-text, $alpha: 0.2);
        }
    }
    .fa-indian-rupee-sign{
        font-size: 16px;
    }
}
.uniform-table {
        overflow: auto;
        border-radius: 1.6rem;

        table {
            overflow: hidden;
        }

        thead {
            background: $color-primary;
            color: $color-white;
            th{
                font-weight: 700;
                text-align: center;
            }
        }

        th,
        td {
            padding: 10px;
            width: 50%;
            strong.d-block {
    color: $color-white;
    margin-top: 1rem;
    background: $color-primary;
    display: inline-block;
    padding: 1rem;
    width: fit-content;
    line-height: 1.2;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 28px;
    margin-bottom: 1.5rem;
}
        }
    }

    .uniform-head{
        text-transform: capitalize;
    font-size: 4.8rem;
    line-height: 1;
    margin-bottom: 3rem;
    width: 100%;
    text-align: center;
    padding: 0 10px;
    }