.leaf-hold {
    &.bg-1 {
        background-image: $gradientOne;
        color: $color-white;
    }

    h2 {
        margin: 5rem 0;
    }
}

.sustainable-area {
    overflow-x: hidden;

    .btn-wrapper {
        margin-top: 3rem;

        a {
            @include globalBtnOne();
        }
    }

    .sustaible-grid {
        display: grid;
        grid-template-columns: 53% 45%;

        @include respond (maxWidth768) {
            grid-template-columns: auto;
        }
    }

    .img-wrapper {
        width: 46rem;
        height: 46rem;
        margin-top: 2rem;
        margin-left: auto;
        margin-bottom: 2rem;
        border-radius: 100%;

        @include respond (maxWidth575) {
            width: auto;
            height: auto;
            border-radius: 1rem;
            margin-top: 1rem;

            img {
                border-radius: 1rem !important;
            }
        }

        @include respond (maxWidth768) {
            margin-left: auto;
            margin-right: auto;
            outline: none;
            border: 2rem solid $color-primary;
        }

        outline: 1rem solid $color-primary;
        border: 1rem solid $color-white;
        background: $color-primary;
        padding: 20px;

        img {
            border-radius: 100%;
            width: 100%;
            height: 100%;
            object-position: 68% 100%;
        }
    }
}

.signature-strength {


    .signature-grid {
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(3, 1fr);

        @include respond (maxWidth768) {
            grid-template-columns: repeat(1, 1fr);
        }

        .signature-grid-item {

            &:nth-child(4),
            &:nth-child(5) {
                position: relative;

                &::before {
                    @include vector(84.2px, 84px);
                    // mix-blend-mode: plus-lighter;
                    top: -9%;
                    // filter: invert(1) brightness(100) sepia(1);
                    right: -17%;

                    @include respond (maxWidth768) {
                        right: 0;
                        transform: scale(0.5);
                    }
                }
            }

            .card-strenth {
                .img-wrapper {
                    width: 100%;
                    aspect-ratio: 1;
                    margin: auto;
                    outline: 1rem solid $color-primary;
                    border: 1rem solid $color-white;
                    background: $color-primary;
                    padding: 15px;
                    border: 0.7rem solid $color-white;
                    border-radius: 100%;
                    position: relative;
                    transform: scale(0.95);

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: inherit;
                    }

                    &::before {
                        content: "";
                        background: rgba($color-black, 0.3);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                        transform: translate(-50%, -50%);
                        opacity: 0;
                        transition: all 0.4s;
                    }

                    &:hover {
                        &::before {
                            opacity: 1;
                        }

                        .wrapperText {
                            transform: translate(-50%, -50%);
                            opacity: 1;
                        }
                    }
                }

                .wrapperText {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    color: $color-white;
                    font-weight: bold;
                    text-align: center;
                    opacity: 0;
                    transition: all 0.4s;
                }

                .heading-tertiary {
                    padding: 1rem;
                    border-top: 1px solid rgba($color-text, 0.3);
                    border-bottom: 1px solid rgba($color-text, 0.3);
                    color: rgba($color-primary, 1);
                }

                .content-para {
                    text-align: center;
                    padding: 0 1.5rem;
                }
            }
        }
    }
}

.educational-visioners {
    .globalbtn-one {
        @include globalBtnTwo;
        display: none;
    }

    .modal {

        .modal-dialog {
            max-width: 100%;
            padding: 0;

            @include respond (minWidth992) {
                width: 800px;
            }

            @include respond (maxWidth575) {
                width: 90%;
            }

            @include respond (maxWidth992) {
                width: 500px;
            }
        }

        .modal-content {
            border: 0;
            border-radius: 0;
            width: 100%;
            height: 80vh;
            overflow: auto;
            padding: 0;
            position: relative;
        }

        button {
            position: absolute;
            right: 0;
            top: 0;
        }

        .modal-body {
            padding: 0;
        }
    }

    .committee-wrapper {
        .popup-img-wrapper {
            padding-top: 3rem;
            position: relative;

            img {
                display: block;
                width: 23.6rem;
                height: 23.6rem;
                aspect-ratio: 1;
                border-radius: 100%;
                margin: 0 auto 1rem auto;
                position: relative;
                z-index: 1;
                border: 4px solid #28aae4;
                object-position: top;
                outline: 4px solid #ffffff;
            }

            &::before {
                content: "";
                background: $color-secondary;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                clip-path: polygon(0 0, 100% 0%, 100% 30%, 50% 80%, 0 30%);
                z-index: 0;
            }

            &::after {
                content: "";
                background: url(https://dignityeducation.org/fellowship/image/bg-01.jpg);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                clip-path: polygon(0 0, 100% 0%, 100% 30%, 50% 80%, 0 30%);
                z-index: 0;
                background-size: cover;
                background-position: bottom;
                mix-blend-mode: multiply;
                opacity: 0.2;
            }
        }

        .content-wrapper {
            padding: 0 2rem 0;

            p {
                padding-bottom: 2rem;
            }
        }

    }

    .educational-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
        position: relative;

        @include respond (minWidth992) {
            row-gap: 8rem;
        }

        .educational-grid-item {
            // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            // padding: 3rem;
            background: #ffffff;
            border-radius: 1rem;
            transition: all 0.3s;
            // position: relative;
            overflow: hidden;

            @include respond (minWidth992) {
                &:nth-child(2) {
                    &::before {
                        top: 28%;
                    }
                }

                &:nth-child(3) {
                    &::before {
                        top: 28%;
                    }
                }

                &:nth-child(6) {
                    &::before {
                        bottom: 32%;
                    }
                }

                &:nth-child(7) {
                    &::before {
                        bottom: 32%;
                    }
                }

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(6),
                &:nth-child(7) {
                    &::before {
                        @include vector(84.2px, 84px);

                    }
                }
            }

            @include respond (minWidth768) {
                &.s-last {
                    grid-column-start: 2;
                }
            }

            &:hover {
                border-radius: 1rem 1rem 0 0;
                background: lighten(#f7f7f7, $amount: 2);

                .heading-tertiary {
                    color: $color-primary;
                    cursor: pointer;
                }

            }

            .content-para {
                text-align: center;
                border-top: 1px solid rgba($color-text, 0.1);
                padding-top: 1rem;
                @include respond (minWidth768){
                    height: 165px;
                }
            }

            .text-center {
                margin-top: 2rem;

                a {
                    @include globalBtnTwo();
                }
            }
        }

        .heading-tertiary {
            transition: all 0.3s;
            padding-bottom: 1rem;
            color: rgba($color-primary, 1);

            a {
                color: inherit;
                text-decoration: none;
            }
        }

        @include respond (maxWidth992) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond (maxWidth575) {
            grid-template-columns: repeat(1, 1fr);
        }

        .img-wrapper {
            width: 21rem;
            aspect-ratio: 1;
            border-radius: 100%;
            overflow: hidden;
            border: 5px solid $color-primary;
            margin: auto;

            img {
                width: 100%;
                height: 100%;
                object-position: top;
            }
        }
    }
}

.globalbtn-three {
    @include globalBtnThree;
    display: none;
}

.online-counselling {
    position: fixed;
    left: 0;
    top: 50%;
    transform: rotate(-90deg) translateY(50%) translateX(-50%);
    transform-origin: left center;
    border-radius: 5px;
    z-index: 9;

    @include respond (maxWidth575) {
        transform: none;
        bottom: 0;
        top: auto;
        width: 100%;

    }

    a {
        background: $color-secondary;
        padding: 1rem 2rem;
        color: $color-white;
        text-decoration: none;
        font-size: 1.6rem;
        border: none;
        display: block;
        transition: all 0.3s;
        box-shadow:
            -1px 0 0 $color-primary,
            -2px -1px 0 $color-primary,
            -3px -2px 0 $color-primary,
            -4px -3px 0 $color-primary,
            -5px -4px 0 $color-primary,
            -6px -5px 0 $color-primary,
            -7px -6px 0 $color-primary,
            -8px -7px 0 $color-primary;

        @include respond (maxWidth575) {
            padding: 0.8rem 1.5rem;
            font-size: 2rem;
            text-transform: uppercase;
            display: block;
            font-weight: bold;
            text-align: center;
            box-shadow: none;

        }

        &:hover {
            text-decoration: none;
            background: darken($color-secondary, $amount: 5);
        }
    }

}

.sus-campus {
    background: url(../images/map-bg-01.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;

    .campus-grid {
        width: 35rem;

        @include respond (minWidth992) {
            margin-left: 7rem;
        }

        .content-wrapper {
            background: rgba($color-primary, 0.5);
            padding: 14rem 3rem;
            text-align: center;

            h2 {
                margin-bottom: 2rem;
                color: rgba($color-text, 1);
            }
        }
    }
}