.whylumina {
    h2 {
        position: relative;

        &::after {
            @include vector(85px, 84px);
            top: 0;
            right: -4rem;
            transform: scale(0.75);
        }
    }

    .img-wrapper {
        width: 100%;
        position: relative;
        aspect-ratio: 1;
        border-radius: 100%;
        transform: scale(0.85);

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            width: 100%;
            height: 100%;
            outline: 12px solid $color-tertiary;
            transform: scale(1.14);
            border-radius: 100%;
            z-index: -1;

            @include respond(minWidth575) {
                transform: scale(1.07);
            }
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: inherit;

            @include respond(minWidth768) {
                outline: 8px solid #fff;
                transform: scale(1.14);
            }
        }
    }
}

.whyluminatwo {
    background-image: $gradientOne;
    color: $color-white;
    @extend .whylumina;

    .heading-primary {
        color: $color-white;
        &::after {
            right: auto;
            left: -10rem;
            filter: invert(1) brightness(100);
        }
    }

    .img-wrapper::before {
        outline-color: $color-black;
    }

    .internal-link {
        color: $color-black;
    }
}

.whyluminathree,
.whyluminafive {
    @extend .whylumina;
}

.whyluminafour {
    @extend .whyluminatwo;
}

.lumina-goals {
    @extend .lumina-hub;
}
.keyfeatiures, .global-practice{
    ul.primary-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0;
    @include respond (maxWidth575){
        grid-template-columns: repeat(1, 1fr);
    }
    gap: 15px;
    li {
    border: 2px solid;
    margin-bottom: 0;
    padding: 1rem;
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    background: $color-primary;
    color: $color-white;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.2;
    border-radius: 1.6rem;
    &::before{
        content: none!important;
    }
}
}

}